%h2
%h2
%p
  %br/
%h2
  %img{ align: "BOTTOM", border: "0", height: "41", name: "graphics1", src: "/logo_contract.jpg", width: "186"}/
%p
  %b
    CUIT: 30-71233459-9
%h2
%h2
  Gral. Paz 1.023-1031 – X5800 ACU
  – Río Cuarto - Córdoba
%p
  %i
    %b
      E-mail:
      gutierrezinmobiliaria@fibertel.com.ar                            Tel.
      0358-4643.913 / 4624.002
%div{ style: 'text-align:justify; text-justify:auto;' }
  %p
    %br/
  %p
    Entre:
    El Señor/a
    %b
      = @data[:locator_name] || 'NOMBRE APELLIDO'
    ,
    %b
      DNI N°:
      = @data[:locator_dni] ||'XX.XXX.XXX'
    , en adelante
    llamada locador por una parte y por la otra parte, El Señor
    %b
      = @data[:renter_name] || 'NOMBRE APELLIDO'
      – DNI Nº:
      = @data[:renter_id] || 'XX.XXX.XXX'
    ,
    %b
      TEL: XXX - XXXXXXX
    denominado
    en adelante locatario, formalizan mediante el presente instrumento el
    siguiente contrato de locación sujeto a las cláusulas siguientes:
  %p
    %br/
  %p
    ART.
    1º: El locador da en locación al locatario y este lo recibe en ese
    carácter, un inmueble de su propiedad  ubicado en calle:
    %b
      = @data[:property_address] || 'DIRECCION COMPLETA'
    de la ciudad de XXXXXX, provincia de XXXXXXX.
  %p
    Compuesto
    de las siguientes comodidades:
    %b Ejemplo:
    ESTAR-COMEDOR CON BALCON, COCINA, UN
    DORMITORIO CON PLACARD E INTERIORES COMPLETOS Y BAÑO TOTALMENTE
    INSTALADO, los que se encuentran en perfecto estado de higiene, uso y
    conservación para cumplir con la finalidad de este contrato. El
    inmueble locado se entrega recién pintado en color blanco al látex
    de primera calidad en techos y paredes interiores, por lo que el
    locatario se compromete a mantenerlo y devolverlo en idénticas
    condiciones de pintura, higiene, uso, conservación, caso contrario
    se cobraran los gastos ocasionados de limpieza, pintura y/o arreglos
    en general  que se deba realizar en el inmueble a la garantía según
    consta en el Art. 11º del presente contrato de locación.
  %p
    Forman
    parte de la locación y se alquilan con el inmueble:
    %b
      Estar-Comedor
    \: Un porta
    lámpara, un portero marca COMMAX y un calefactor marca ORMAY de 2500
    cal.
    %b Cocina:
    Mesada de granito
    %b ,
    bacha de acero inoxidable, grifería cromada, bajo mesada de madera
    color marrón (4 puertas – 4 cajones), un artefacto de cocina marca
    ORMAY de 4 hornallas, un calefón marca KENIA, un porta lámpara.
    %b Baño:
    Totalmente instalado, una tulipa de pared y un espejo con estante de
    vidrio.
    %b Dormitorio:
    Un
    porta lámpara y placard con 6 puertas de madera e interiores
    completos (cajones, perchero y estantes).
    %b Balcón
    \:
    Un plafón de techo.
  %p
    %br/
  %p
    ART.2º:
    El locatario destinará el inmueble locado, única y exclusivamente
    para: VIVIENDA FAMILIAR y no cambiará el destino de esta locación,
    ni agregara personas al contrato, aún cuando el cambio no afecte al
    inmueble locado o al locador, bajo apercibimiento de dar por
    rescindido el presente contrato de pleno derecho.
  %p
    %br/
  %p
    ART.
    3º: El término de éste contrato se fija en VEINTICUATRO meses a
    contar desde el día XXXXXX del mes de XXXXXX del año XXXXX
    por lo que el vencimiento se opera de pleno derecho el  día
    XXXXX DE XXXXX del año XXXXXXXX, fecha en que deberá
    entregar las llaves y posesión del inmueble, libre de ocupantes y
    cosas dejándose expresa constancia que a su término no existirá
    bajo ningún aspecto, tácita reconducción, por considerarse
    terminada la locación, salvo que existiera una renovación de
    contrato.
  %p
    %br/
  %p
    ART.
    4º: Queda convenido libre y voluntariamente que el locatario abonará
    un alquiler mensual de
    %b
      PESOS: XXXXXXXXXXXX ($XXXX)
    ,
    el locador bonifica al locatario la suma de pesos
    %b
      XXXXXXXXXXXXXX ($XXX)
    por el
    termino del 1er. año de contrato, es decir, desde el XX/XX/XXXX al
    XX/XX/XXXX abonara la suma de pesos:
    %b
      XXXXXXXXXXXXXX ($XXXX)
    y a
    partir del XX/XX/XXXX abonara el alquiler  pactado en el presente
    articulo o sea la suma de pesos:
    %b
      XXX
      XXXXXXXX
      ($XXXX).
    Dicho alquiler
    será pagado en la moneda estipulada por mes ADELANTADO del PRIMERO
    al DECIMO día de cada mes, en el domicilio de pago que fija el
    locador en calle GENERAL PAZ Nº 1023 (GUTIERREZ INMOBILIARIA) de la
    ciudad de RIO CUARTO, Provincia de CORDOBA o donde este lo indique en
    lo sucesivo para recibirlo por si o por personas debidamente
    autorizadas quienes emitirán recibo en su nombre y representación.
    Siendo entendido que el mero vencimiento de los plazos mensuales
    producirá la mora automáticamente, debiendo abonar juntamente con
    el alquiler, una vez y medio el interés que cobran los Bancos
    Privados Sucursal Río Cuarto, para las operaciones de adelanto en
    cuenta corriente por cada día de atraso en el pago. Interés este
    que se aplicara a partir del primer día de cada mes y hasta el día
    que cancele la deuda el que será pagado juntamente con el alquiler,
    sin necesidad de requerimiento judicial o extrajudicial alguno. El
    alquiler se pacta por periodo de mes entero y aún cuando el
    locatario desocupare el inmueble por cualquier motivo antes de
    finalizado el mes abonara íntegramente el alquiler correspondiente a
    ese mes.
  %p
    %br/
  %p
    ART.
    5º: Vencido el plazo contractual si no se hubiera convenido un nuevo
    contrato de locación  y el locatario no hiciera entrega en tiempo y
    forma de las llaves del inmueble totalmente desocupado de personas
    y/o cosas al locador o a su representante, cualquiera fuera la causa,
    el locador podrá  iniciar proceso de desalojo y además exigir el
    pago del UNO por ciento (1 %) diario del monto del alquiler mensual
    por cada día de atraso en la entrega de inmueble locado. Esta
    cláusula penal funcionará adicionada al último precio de la
    locación y en beneficio del locador. Este precio se computará por
    periodos completos. El locador podrá optar por la vía ejecutiva, la
    que queda desde ya pactada entre las partes contratantes,
    otorgándosele titulo ejecutivo en forma expresa al presente contrato
    de locación.
  %p
    %br/
  %p
    ART.
    6º: Queda prohibido expresamente al locatario u ocupantes del
    inmueble la tenencia de cualquier tipo de animales, no se permite la
    agregación de otras personas o ideales a este contrato. Esta
    locación asume el carácter de personal, siendo por lo tanto
    intransferible y quedando el locatario prohibido ceder, subarrendar,
    prestar parcial o totalmente el inmueble locado, y por ninguna causa
    tener cosas que pudieran afectar la seguridad de las personas y del
    edificio,  ni realizar acto que contraríen las normas vigentes y las
    buenas costumbres.
  %p
  %p
    Art.
    7º: Son a cargo del locador los Impuestos: PROVINCIALES y
    MUNICIPALES, y son a cargo del  locatario los servicios de ENERGIA
    ELECTRICA (EPEC), GAS NATURAL (ECOGAS), servicio de AGUA y CLOACAS
    (EMOS) y EXPENSAS COMUNES, como así también los creados o a crearse
    y demás adicionales, aumento, servicios, sobretasas que se impongan
    como consecuencias del uso, de la ocupación y el destino del
    inmueble, los que deberán abonarlos a su vencimiento o juntamente
    con el alquiler mensual, quedando las facturas debidamente pagadas en
    poder del locador o la administradora.
  %p
    %br/
  %p
    ART.
    8º: El locatario declara recibir las llaves en este acto, con el
    inmueble en perfecto estado de uso, conservación, higiene y recién
    pintado en pintura al látex de primera calidad en color blanco en
    techos y paredes interiores, con todos sus vidrios, puertas,
    ventanas, sanitarios, mesada, bajo mesada, y demás accesorios
    componentes del inmueble, por lo que se compromete en este acto a
    mantenerlo en perfecto estado, tomando a su entero cargo  las
    reparaciones del inmueble y los accesorios que fueran necesarias para
    su mantenimiento, cualquiera fuera la causa del deterioro (uso,
    transcurso del tiempo, caso fortuito, fuerzas mayor, hechos de
    terceros, lícitos o ilícitos  culposos o dolosos, etc.) y
    especialmente mantener libre de todo entorpecimiento los servicios
    complementarios (agua, cloacas, policía edilicia, sanitarios.
    Etc.).-
  %p
    %br/
  %p
    Haciéndose
    directamente responsable de cualquier infracción. En ningún caso el
    locatario tendrá derecho a reclamar indemnización alguna por las
    erogaciones que efectúe por los conceptos antes expresados. El
    locatario no podrá efectuar  ningún tipo de mejoras en el inmueble
    sin el previo consentimiento por escrito del locador. Todas las
    mejoras quedarán en beneficio del inmueble y no dará derecho al
    locatario a reclamar el pago o indemnización alguna. Si se hicieran
    mejoras sin su previo consentimiento, podrá el locador hacerlas
    demoler a cargo del locatario hasta quedar el inmueble en las
    condiciones en que alquiló.
  %p
    %br/
  %p
    ART.
    9º: El locatario tendrá la obligación de comunicar al locador o la
    persona autorizada de todos los hechos acaecidos en el inmueble
    dentro de las 24 horas de haberse producido, permitiendo el ingreso
    del locador o a la persona autorizada por este, a los efectos de
    revisar el inmueble para autorizar las reparaciones necesarias, el
    locador se reserva el derecho de inspeccionar el estado del bien
    locado y puede para ello visitar el inmueble solo o acompañado por
    la persona que crea necesario. En caso de que los locatarios negaran
    al locador el ejercicio de su facultad de visita, queda desde ya
    entendido que el locador podrá solicitar medidas cautelares para que
    se disponga por la vía judicial que corresponda el respectivo
    reconocimiento del inmueble. Se conviene expresamente que la
    violación del derecho de visita da derecho al locador para demandar
    el desalojo con los daños y perjuicios que correspondan.
  %p
    %br/
  %p
    ART.
    10º: El incumplimiento de cualquiera de las cláusulas del presente
    contrato por parte del locatario, es causa suficiente para que el
    locador declare rescindido el presente contrato de pleno derecho,
    renunciando el locatario en forma expresa a cualquier tiempo y
    prorroga que le pudiere corresponder, siendo pasible a abonar los
    daños y perjuicios que pudiere ocasionar  este incumplimiento.
  %p
    %br/
  %p
    ART.11º: El Sr.
    %b
      NOMBRES APELLIDO,
      DNI N°: XX.XXX.XXX, TEL: XXXX – XXXXXXXXXX,
    con
    domicilio en calle XXXXXXXXXX de la localidad de
    XXXXXXXXXXX
    %b
    y La Srta.
    %b
      NOMBRE APELLIDO, DNI N°: XX.XXXX.XXXX, TEL: XXXX - XXXXXXXXX,
    con domicilio en calle XXXXXXXXXXX, de la Ciudad de
    XXXXXXXXX, Pcia. de XXXXXXXX, se constituyen como deudores
    solidarios y principales pagadores de todas las deudas y obligaciones
    que se originen por el presente contrato y por los aumentos
    %b
    que progresivamente se
    vayan conviniendo o acumulando y una vez vencido este contrato y
    hasta el día que el
    %b
    inmueble sea entregado por el locatario y recibido por el locador o
    por quien lo represente, libre de ocupantes y en las condiciones que
    lo recibió y establecidas. Asimismo se constituyen en principales
    pagadores de todas las deudas judiciales o extrajudiciales que
    pudieran ocasionarse por el incumplimiento de cualquiera de las
    cláusulas del presente contrato, y demás daños, perjuicios,
    desocupación, alquileres adeudados, Impuestos tasas, servicios,
    gastos de intimaciones, reparaciones generales de la propiedad,
    pintura, etc., que demande el Locador al momento de la desocupación
    del bien locado.-
  %p
    %br/
  %p
    ART. 12º: El locatario fija domicilio en:
    %b
      XXXXXXXXXX
    y el Locador en calle:
    %b
      GENERAL
      PAZ Nº 1023 (GUTIERREZ INMOBILIARIA)
    ,
    ambos de la ciudad de RIO CUARTO provincia de CORDOBA. Estos
    domicilios serán los procedentes a fin de cualquier cuestión
    judicial o extrajudicial emergente de la presente locación. Para el
    supuesto retiro o abandono del inmueble por parte de los locatarios.
    Antes o después de concluida la locación y habiendo quedado
    pendientes de cumplimiento obligaciones emergentes del presente
    contrato. Automáticamente por el solo retiro definitivo del
    inmueble, el locatario fija por este acto como domicilio especial el
    de los garantes estipulados en el Art. 11 del presente. Siendo allí
    validas todas las comunicaciones que se le efectúe. Las partes se
    someten, para cualquier divergencia judicial originada por este
    contrato de locación, a la jurisdicción de  los Tribunales
    Ordinarios de la ciudad de Río Cuarto,  renunciando expresamente a
    cualquier otra competencia o fuero que le pudiere corresponder,
    inclusive el Federal. A ese fin se consideran domicilios legales los
    que las partes han establecido  en el presente contrato.
  %p
    %br/
  %p
    ART.
    13º: El locatario podrá transcurrido los seis meses de iniciada la
    locación, rescindir el contrato, debiendo para ello notificar al
    locador en el domicilio fijado por este, mediante carta documento o
    telegrama colacionado de esta decisión, con una antelación no menor
    a los sesenta (60) días de la fecha en que reintegrara el inmueble
    arrendado mediante el presente contrato. En dicho caso deberá abonar
    la indemnización  que fija el Art. octavo de la Ley  Nº23.091 de
    Locaciones Urbanas.
  %p
    %br/
  %p
    ART.
    14º: El sellado de la Provincia que corresponde al presente contrato
    será abonado por las partes contratantes en un cincuenta (50) por
    ciento entre el locador y el locatario.
  %p
    %br/
  %p
    ART.
    15º: Se deja establecido que tanto la parte locadora como la parte
    locataria deslinda de toda responsabilidad a Inmobiliaria Gutierrez
    por estar en un todo de acuerdo, con las cláusulas, precio,
    condiciones. El locador con el locatario y el garante ofrecido en el
    presente contrato.
  %p
  %p
    ART.16º:
    Los Garantes: Sr.
    %b
      NOMBRE APELLIDO, DNI N°: XX.XXX.XXXX, TEL: XXXX – XXXXXXXXX,
    con
    domicilio en calle XXXXXXXX de la localidad de
    XXXXXXXXX exhibe fotocopia de recibo de sueldo
    de XXXXXXXXXXXXX, C.U.I.T.: XX-XXXXXXXXX-X;
    %b
    y La Srta.
    %b
      NOMBRE APELLIDO, DNI N°: XX.XXX.XXX, TEL: XXXX - XXXXXXXXXX,
    con domicilio en calle XXXXXXXXXXXXX, XXXXXXXXXX exhibe fotocopia de recibo de sueldo
    como XXXXXXXXXXXXXXXXX, C.U.I.T.: XX-XXXXXXXX-X, con lo que
    acreditan la solvencia necesaria para cumplir con el presente
    contrato.
  %p
    %br/
  %p
    ART.17º:
    El locatario se responsabiliza a realizar los trámites
    correspondientes de cambio de titularidad, conexión o re conexión
    de los servicios de Energía Eléctrica y Gas Natural. Como así
    también al momento de hacer entrega de las llaves del inmueble y con
    el mismo libre de ocupantes y cosas, deberá presentar al locador o a
    su administrador la libre deuda  y baja correspondiente de los
    servicios de gas natural y energía eléctrica.
  %p
    %br/
  %p
    En
    prueba de conformidad y de su fiel cumplimiento se suscriben tres
    ejemplares de un mismo tenor y a un solo efecto en la ciudad de Río
    Cuarto a los diez días del mes de XXXXXXXXX del año XXXXXXXXXXXX.
