#landing-page
  %table#lastest-changes.display{"data-source" => landing_page_url(format: "json")}
    %thead
      %tr
        %th= select_tag nil,
                        options_for_select(changes),
                        include_blank: true,
                        prompt: t('.search_by'),class: "pretty-input-data-table"
        %th
        %th= text_field_tag nil, nil, type: "text", name: "daterange",
                            placeholder: t('.last_date'),class: "pretty-input-data-table"
      %tr
        %th= t('.topic')
        %th= t('.user')
        %th= t('.date')
    %tbody
