#general-show-property
  .left
    .title= t("properties.general.title_left_1")
    .input
      = label_tag t('.owner')
      = owner
    .title= t("properties.general.title_left_2")
    .input
      = label_tag t('.status')
      = label_tag p.status, nil, { class: "pretty-input" }
  .right
    .title= t("properties.general.title_right_1")
    .input
      = label_tag t('.address')
      = label_tag p.address, nil, class: "pretty-input"
    .input
      = label_tag t('.description')
      .textareawhite
        = text_area_tag "#", p.description,
                        class: "form-control",
                        size: "5x6", disabled: true
