#general-show-property
  .left
    .title= t("properties.general.title_left_1")
    .input
      = label_tag t('.owner')
      = owner
    .title= t("properties.general.title_left_show_2")
    .input
      = label_tag t('.status')
      = text_area_tag nil, p.status, { class: "form-control", rows: "1", readonly: true}
  .right
    .title= t("properties.general.title_right_show_1")
    .input
      = label_tag t('.address')
      = text_area_tag nil, p.address, { class: "form-control", rows: "1", readonly: true}

    .input
      = label_tag t('.description')
      = text_area_tag nil, p.description, { class: "form-control", rows: "6", readonly: true}
