.sub-header
  - if edit_or_new_page?(@property)
    %a.property-save{ href: "#" }
      %i.icon-save.icon-2x
      = t('.property_save')
    %a.property-danger{href: "#{properties_path}"}
      %i.icon-remove-sign.icon-2x
      = t('.cancel')
    - if current_page?(action: 'edit', id: @property.id || 0)
      %a.property-remove{href: "#"}
        %i.icon-remove.icon-2x
        = t('.remove')
  - elsif show_page?(@property)
    %a.property-save{ href: "#{edit_property_path(@property)}" }
      %i.icon-edit.icon-2x
      = t('.property_edit')
    %a.property-print{href: "#"}
      %i.icon-print.icon-2x
      = t('.print')
  - else
    %a.property-new{ href: "#{new_property_path}" }
      %i.icon-plus-sign.icon-2x
      = t('.new')
    %a.property-print{href: "#"}
      %i.icon-print.icon-2x
      = t('.print')
