.transaction
  .thorizontal
    .tcheck
      .tcheckbox
        = f.label :to_sale
        = transaction_checkbox :to_sale, t('.sale')
  .thorizontal
    .tlabel
      = f.label t('.money')
    .tinput
      = f.collection_select :m_to_sale_id,
                            Money.all,
                            :id, :complete_name,
                            { :include_blank => true }, class: "pretty-input"
  .thorizontal
    .tlabel
      = f.label t('.price_to_sale')
    .tinput
      = transaction_price f, :to_sale
.transaction
  .thorizontal
    .tcheck
      .tcheckbox
        = f.label :to_rent
        = transaction_checkbox :to_rent, t('.rent')
  .thorizontal
    .tlabel
      = f.label t('.money')
    .tinput
      = f.collection_select :m_to_rent_id,
                            Money.all,
                            :id, :complete_name,
                            { :include_blank => true }, class: "pretty-input"
  .thorizontal
    .tlabel
      = f.label t('.price_to_rent')
    .tinput
      = transaction_price f, :to_rent
