%ul.property-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#general"}
      = t("properties.new.general")
  %li
    %a{"data-toggle" => "tab", href: "#details"}
      = t("properties.new.details")
  %li
    %a{"data-toggle" => "tab", href: "#pictures"}
      = t("properties.new.pictures")

= form_for @property do |f|
  = errors_for(@property).html_safe
  .property-tabs-content
    #general.tab-pane.active
      = render "general", f: f
    #details.tab-pane
      = render "detail", f: f
    #pictures.tab-pane
      .pictures
        = f.fields_for :photos do |builder|
          = render "photo_fields", f: builder
        .picture-add
          = link_to_add_fields t(".add_photo"), f, :photos
  = f.submit hidden: true
