%ul.property-tabs
  %li.active
    %a#tab-all-prop{"data-toggle" => "tab", href: "#all-properties"}
      todas las propiedades
  %li
    %a#tab-my-prop{"data-toggle" => "tab", href: "#my-properties"}
      mis propiedades

.property-tabs-content
  #all-properties.tab-pane.active
  #my-properties.tab-pane

  %table#properties.display{"data-source" => properties_url(format: "json")}
    %thead
      %tr
        %th
        %th= select_tag nil, options_for_select(status),
                            { include_blank: true,
                              class: "pretty-input-data-table" }
        %th= select_tag nil, options_for_select(type_properties),
                            { include_blank: true,
                              class: "pretty-input-data-table" }
        %th= select_tag nil, options_for_select(transactions),
                            { include_blank: true,
                              class: "pretty-input-data-table" }
        %th
        %th= select_tag nil, options_for_select((1..80).to_a),
                            { multiple: true ,class: "multiselect" }
        %th
          .aligned-input
            = text_field_tag "rent_from", nil,
                                          { placeholder: t('.from'),
                                            class: "pretty-input-range" }
            = text_field_tag "rent_to", nil,
                                        { placeholder: t('.to'),
                                          class: "pretty-input-range" }
        %th
          .aligned-input
            = text_field_tag "sale_from", nil,
                                          { placeholder: t('.from'),
                                            class: "pretty-input-range" }
            = text_field_tag "sale_to", nil,
                                        { placeholder: t('.to'),
                                          class: "pretty-input-range" }
        %th= select_tag nil, options_for_select(moneys),
                            { prompt: t('.money'), include_blank: true,
                              class: "pretty-input-select" }
      %tr
        %th= t('.nref')
        %th= t('.status')
        %th= t('.type')
        %th= t('.transaction')
        %th= t('.address')
        %th= t('.rooms')
        %th= t('.rent')
        %th= t('.sale')
        %th= t('.owner')
        %th
    %tbody
:javascript
  datatableKeyboard("#properties", "#calculator-modal");
