.new-customer
  .left
    .title= t('.customer_data')
    .input
      = f.label :name
      = f.text_field :name, class: "form-control"
    .input
      = f.label :surname
      = f.text_field :surname, class: "form-control"
    .input
      = f.label :dni
      = f.text_field :dni, class: "form-control"
    .input
      = f.label :dob
      #customer-dob
        = f.text_field :dob, class: "form-control"
        %span.input-group-addon.glyphicon.glyphicon-calendar
    .input
      = f.label :address
      = f.text_field :address, class: "form-control"
    .input
      = f.label :email
      = f.text_field :email, class: "form-control"
    = f.fields_for :phones do |phone|
      .input
        = f.label t('.phone')
        = phone.text_field :phone , class: "form-control"
      .input
        = f.label t('.mobile_phone')
        = phone.text_field :mobile_phone , class: "form-control"
  .right
    .title= t('.professional_data')
    .input
      = f.label :profession
      = f.text_field :profession, class: "form-control"
