.show-customer
  .left
    .title= t('.customer_data')
    .input
      = label_tag t('.name')
      = text_area_tag nil, @customer.name,
                      { class: "pretty-input", rows: "1", readonly: true}
    .input
      = label_tag t('.surname')
      = text_area_tag nil, @customer.surname,
                      { class: "pretty-input", rows: "1", readonly: true}
    .input
      = label_tag t('.dni')
      = text_area_tag nil, @customer.dni,
                          { class: "pretty-input", rows: "1", readonly: true}
    .input
      = label_tag t('.dob')
      = text_area_tag nil, dob(@customer),
                      { class: "pretty-input", rows: "1", readonly: true}
    .input
      = label_tag t('.address')
      = text_area_tag nil, @customer.address,
                      { class: "pretty-input", rows: "1", readonly: true}
    .input
      = label_tag t('.email')
      = text_area_tag nil, @customer.email,
                      { class: "pretty-input", rows: "1", readonly: true}
    .input
      = label_tag t('.phone')
      = text_area_tag nil, @customer.phones[:phone],
                      { class: "pretty-input", rows: "1", readonly: true}
    .input
      = label_tag t('.mobile_phone')
      = text_area_tag nil, @customer.phones[:mobile_phone],
                      { class: "pretty-input", rows: "1", readonly: true}
  .right
    .title= t('.professional_data')
    .input
      = label_tag t('.profession')
      = text_area_tag nil, @customer.profession,
                      { class: "pretty-input", rows: "1", readonly: true}
  .right
    .title= t('.description_data')
    .input
      = label_tag t('.description')
      .textarea-description
        = text_area_tag nil, @customer.description,
                      { class: "pretty-input", rows: "7", readonly: true}
