.show-customer
  .left
    .title= t('.customer_data')
    .input
      = label_tag t('.name')
      = label_tag  @customer.name ,nil , class: "form-control"
    .input
      = label_tag t('.surname')
      = label_tag  @customer.surname ,nil , class: "form-control"
    .input
      = label_tag t('.dni')
      = label_tag  @customer.dni ,nil , class: "form-control"
    .input
      = label_tag t('.dob')
      = label_tag @customer.dob.strftime("%d/%m/%Y"), nil, class: "form-control"
    .input
      = label_tag t('.address')
      = label_tag @customer.address, nil, class: "form-control"
    .input
      = label_tag t('.email')
      = label_tag @customer.email, nil, class: "form-control"
    .input
      = label_tag t('.phone')
      = label_tag  @customer.phones[:phone] , nil, class: "form-control"
    .input
      = label_tag t('.mobile_phone')
      = label_tag  @customer.phones[:mobile_phone] , nil, class: "form-control"
  .right
    .title= t('.professional_data')
    .input
      = label_tag t('.profession')
      = label_tag @customer.profession, nil, class: "form-control"
