%ul.customer-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#customer-data"}
      = t('.customer_data')
    %li
      %a{"data-toggle" => "tab", href: "#customer-property"}
        = t('.properties')
    %li
      %a{"data-toggle" => "tab", href: "#customer-history"}
        = t('.history')
    %li
      %a{"data-toggle" => "tab", href: "#show-customer-contracts"}
        = t('.contracts')
.tab-content
  .tab-pane.active#customer-data
    = render "show_customer_data"
  .tab-pane#customer-property
    = render "show_customer_properties"
  .tab-pane#customer-history
    = render "show_customer_history"
  .tab-pane#show-customer-contracts
    = render 'show_contracts'
