#calculator-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"}= t('.x')
        %ul
          %li.active
            %a{"data-toggle" => "tab", href: "#simple-calculator"}
              = t('.simple_calculator')
          %li
            %a{"data-toggle" => "tab", href: "#real-estate"}
              = t('.real_estate_calculator')
      .modal-body
        .property-tabs-content
          #simple-calculator.tab-pane.active
            .calculator
          #real-estate.tab-pane
            = render 'calculator/real_estate_calculator'
      .modal-footer
        %button{"data-dismiss" => "modal"}= t('.close')
:javascript
  $(document).on('shown.bs.modal', '#calculator-modal', function () {
    $('#blackCalculator, #property_price').val("");
    $('#blackCalculator, #property_price').focus();
    $(document).on('click', '#calculator-modal li a', function () {
      $('#blackCalculator, #property_price').focus();
    })
  })
