$(document).ready(function(){
  $('.appointment_date_time_picker').datetimepicker();
});

$(document).ready(function() {
  $("a.appointment-save").click(function() {
    $("#new_appointment, [id^=edit_appointment_]").submit();
  });
})

$(function () {
  $('#appointment_customer_tokens').tokenInput('/customers.json', {
    crossDomain: false,
    prePopulate: $('#appointment_customer_tokens').data('pre'),
    theme: "facebook",
    tokenLimit: "1",
    noResultsText: "<%= I18n.t('.token_input.noResultsText') %>",
    hintText: "<%= I18n.t('.token_input.hintText')%>",
    searchingText: "<%= I18n.t('.token_input.searchingText')%>",
    resultsFormatter: function(item){
      return "<li><p style='color: black' >" + item.name
      + " " + item.surname + " (" + item.dni + ") </p> </li>" },
    tokenFormatter: function(item) {
      return "<li><p>" + item.name + " " + item.surname +
      " (" + item.dni + ") </p> </li>" }
  });
});

$(function () {
  $('#appointment_property_tokens').tokenInput('/properties.json', {
    crossDomain: false,
    prePopulate: $('#appointment_property_tokens').data('pre'),
    theme: "facebook",
    propertyToSearch: "address",
    tokenLimit: "1",
    noResultsText: "<%= I18n.t('.token_input.noResultsText') %>",
    hintText: "<%= I18n.t('.token_input.hintText')%>",
    searchingText: "<%= I18n.t('.token_input.searchingText')%>",
     resultsFormatter: function(item){
      return "<li><p style='color: black' >" + item.address
      + " (" + item.id + ") </p> </li>" },
     tokenFormatter: function(item) {
       return "<li><p>" + item.address +
       " (" + item.id + ") </p> </li>" }
  });
});


$(document).ready(function() {
  $('#appointments').dataTable({
    sPaginationType: "full_numbers",
    bJQueryUI: true,
    bProcessing: true,
    bServerSide: true,
    "aoColumns": [
                null,
                null,
                null,
                null,
                { "sType": "datetime-us-pre" },
                null,
                null,
                null
            ],
    sAjaxSource: $('#appointments').data('source')
  });
 });
