.form-appointments
  .left
    .input
      = label_tag t('activerecord.attributes.appointment.title')
      = label_tag f.title , nil,  { class: "form-control" }
    .input
      = label_tag t('activerecord.attributes.appointment.model')
      = label_tag f.model, nil ,{class: "form-control"}
    .input
      = label_tag t('activerecord.attributes.appointment.customer')
      = label_tag show_customer(f.customer), nil , class: "form-control"
    .input
      = label_tag t('activerecord.attributes.appointment.property')
      = label_tag show_property(f.property), nil, class: "form-control"
    .input
      = label_tag t('activerecord.attributes.appointment.priority')
      = label_tag f.priority, nil ,{ class: "form-control" }
  .right
    .input
      = label_tag t('activerecord.attributes.appointment.user')
      = label_tag f.user.surname_with_name, nil ,{class: "form-control"}
    .input
      = label_tag t('activerecord.attributes.appointment.status')
      = label_tag f.status, nil , {class: "form-control"}
    .input
      = label_tag t('activerecord.attributes.appointment.start_date')
      = label_tag print_date(f.start_date,:date_and_time),nil, class: "form-control"
    .input
      = label_tag t('activerecord.attributes.appointment.end_date')
      = label_tag print_date(f.end_date, :date_and_time), nil, {class: "form-control"}
    .input
      = label_tag t('activerecord.attributes.appointment.description')
      .textareawhite
        = text_area_tag f.description,nil, { class: "form-control",disabled: true}
