.form-appointments
  .title-appointments
    .div
      = f.label :title
      = f.text_field :title , { class: "form-control" }
  .form-left
    .detail
      .div
        = f.label :model
        = f.select :model,models, {:include_blank => false},{class: "form-control"}
      .div_token
        = f.label :customer
        .div_customer
          = f.text_field :customer_tokens,"data-pre" => edit_customer, class: "form-control"
      .div_token
        = f.label :property
        .div_property
          = f.text_field :property_tokens,"data-pre" => edit_property, class: "form-control"

      .div
        = f.label :priority
        = f.select :priority, (1..5).to_a,{ include_blank: false },{ class: "form-control" }
  .form-right
    .detail
      .div
        = f.label :user
        = f.collection_select :user_id, User.all, :id, :email,{include_blank:false},{class: "form-control"}
      .div
        = f.label :status
        = f.select :status,status, {:include_blank => false}, {class: "form-control"}
      .div
        = f.label :start_date
        .appointment_date_time_picker
          = f.text_field :start_date, {class: "form-control"}
          %span.input-group-addon.glyphicon.glyphicon-calendar
      .div
        = f.label :end_date
        .appointment_date_time_picker
          = f.text_field :end_date, {class: "form-control"}
          %span.input-group-addon.glyphicon.glyphicon-calendar
  .description-appointments
    .div
      = f.label :description
      = f.text_area :description, { class: "form-control",size: "100%x5"}
