#appointment
  %ul.appointment-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#appointment-data"}
        = t('.appointment_data')
  = form_for @appointment do |f|
    = errors_for(@appointment).html_safe
    .tab-content
      .tab-pane.active#appointment-data
        = render 'form', f: f
    = f.submit hidden: true
