%ul.menu-head
  %li
    %a{href: "#"}
      %i.icon-home.icon-3x
      = t('.properties')
  %li
    %a{href: "#"}
      %i.icon-folder-open-alt.icon-3x
      = t('.archived_properties')
  %li
    %a{href: "#"}
      %i.icon-search.icon-3x
      = t('.search')
  %li
    %a{href: "#"}
      %i.icon-calendar.icon-3x
      = t('.calendar')
  %li
    %a{href: "#"}
      %i.icon-user.icon-3x
      = t('.clients')
  %li
    %a{href: "#"}
      %i.icon-cog.icon-3x
      = t('.calculator')
  %li
    %a{href: "#"}
      %i.icon-paste.icon-3x
      = t('.contracts')
