%ul.menu-head
  %li
    %a{href: "#{landing_page_path}", class: current_tag('landing')}
      %i.icon-reorder.icon-3x
      = t('.main')
  %li
    %a{href: "#{properties_path}", class: current_tag('properties')}
      %i.icon-home.icon-3x
      = t('.properties')
  %li
    %a#client{href: "#{customers_path}", class: current_tag('customers') }
      %i.icon-user.icon-3x
      = t('.clients')
  %li
    %a{href: "#{appointments_path}", class: current_tag('appointments')}
      %i.icon-calendar.icon-3x
      = t('.calendar')
  %li
    %a#calculator{ "data-target" => "#calculator-modal", "data-toggle" => "modal" }
      %i.icon-money.icon-3x
      = t('.calculator')
  %li
    %a{href: "#", class: current_tag('contracts')}
      %i.icon-paste.icon-3x
      = t('.contracts')
  %li
    %a{href: "#{destroy_user_session_path}",
             "data-confirm" => t('.confirm'),
             "data-method" => "delete" }
      %i.icon-remove-sign.icon-3x
      = t('.exit')
